<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="page__footer-follow">
        <ul class="social-icons">
          {% if site.data.ui-text[site.locale].follow_label %}
          <li>
            <strong>{{ site.data.ui - text[site.locale].follow_label }}</strong>
          </li>
          {% endif %} {% if site.footer.links %} {% for link in
          site.footer.links %} {% if link.label and link.url %}
          <li>
            <a href="{{ link.url }}" rel="nofollow noopener noreferrer"
              ><i
                class="{{ link.icon | default: 'fas fa-link' }}"
                aria-hidden="true"
              ></i>
              {{ link.label }}</a
            >
          </li>
          {% endif %} {% endfor %} {% endif %}

          <!-- <li>
              <a
                href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{
                  '/feed.xml' | relative_url
                }}{% endif %}"
                ><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i>
                {{ site.data.ui - text[site.locale].feed_label | default: 'Feed' }}</a
              >
            </li> -->
        </ul>
      </div>

      <div class="page__footer-copyright">
        &copy; {{ site.time | date: '%Y' }}
        {{ site.name | default: site.title }}.
        {{ site.data.ui-text[site.locale].}}.
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 page__footer-copyright">
      <ul>
        <span>Contact</span>
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i> Phone: +33 (0)3 22 53
          40 38
        </li>
        <li>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Adress: Université
          de Picardie Jules Verne - IUT d'Amiens
        </li>
        <li>Avenue des Facultés - Le Bailly 80 025 Amiens Cedex</li>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i> Email:
          gf.lti@u-picardie.fr
        </li>
      </ul>
    </div>

    <!-- <div class="col-md-4 col-sm-6 col-xs-12 custom_footer">
      <ul class="menu">
        <span>Menu</span>
        <li><a href="#">HOME</a></li>

        <li><a href="#">ABOUT</a></li>

        <li><a href="#">THEME</a></li>

        <li><a href="#">CONTACT </a></li>
      </ul>
    </div> -->
  </div>
</div>
