---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import 'minimal-mistakes'; // main partials

.custom_footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  font-size: 0.6875em;
}
