@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import 'minimal-mistakes'; // main partials

.page__footer-copyright ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page__footer-copyright li {
  // display: inline-block;
  // padding-top: 5px;
  // padding-bottom: 5px;
  // font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
  //   'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  // font-size: 0.75em;
  // text-transform: uppercase;
}

.page__footer-copyright .social-icons a {
  white-space: nowrap;
}
